HELP.md

# Maven
target/
.mvn/wrapper/maven-wrapper.jar
*.class

# Logs
*.log

# Configuración local / secretos
.env
.env.*
src/main/resources/application-local.properties
/application.properties

# Node / React
node_modules/
dist/
build/

# STS
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code
.vscode/

# Sistema
.DS_Store
Thumbs.db

# Llaves / certificados
*.key
*.pem
